.gigs {
  width: 100%;
  display: flex;
  justify-content: center;

  .box {
    width: 100%;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .searchBox {
      width: 30vw;
      height: 5vh;
      border-radius: 10px;
    }

    .menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;

      .left1,
      .right1 {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 300;

        input {
          padding: 5px;
          color: black;
          border: 1px solid lightgrey;
          border-radius: 5px;
          outline: none;
        }

        button {
          padding: 5px 10px;
          background-color: #1071b7;
          color: white;
          border: none;
          font-weight: 500;
          border-radius: 5px;
          cursor: pointer;
        }
      }

      .right1 {
        position: relative;

        .sortBy {
          color: white;
          font-weight: 300;
        }

        .sortType {
          font-weight: 500;
        }

        img {
          width: 15px;
          cursor: pointer;
        }

        button {
          width: 10vw;
          height: 5vh;
          border-radius: 10px;
        }

        .rightMenu {
          padding: 20px;
          background-color: white;
          border: 0.5px solid lightgrey;
          border-radius: 5px;
          position: absolute;
          top: calc(100% + 10px);
          right: 0;
          z-index: 9;
          display: flex;
          flex-direction: column;
          gap: 20px;
          color: black;

          span {
            cursor: pointer;
          }
        }
      }
    }

    .cards {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
    }
  }
}
