.banner{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url("./images/BannerBackground.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-color: #13062A;
    width: 98.9vw;
    .left{
        padding-top: 100px;
        .textbox{
            color: white;
            width: 634px;
            height: 285px;
            h1{
                font-size: 65px;
                font-weight: bold;
            }
            h3{
                font-size: 24px;
                text-align: start;
            }
        }
        .buttons{
            form{
            display: flex;
            cursor: pointer;
            align-items: center;
            justify-content: center;
            input{
                width:420px;
                height:70px;
            }
            button{
                background-color: #1E88E5;
                width: 250px;
                height: 76px;
                color: white;
                cursor: pointer;
                border-radius: 10px;
            }
        }
        }
    }
    .right{
        width: 638px;
        height: 600px;
    }
}