.Home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .btn{
        margin-top: 3%;
        border-radius: 30px;
        width: 242px;
        height: 76px;
        color: white;
        background-color:  #1E88E5;
        cursor: pointer;
    }
}
.Banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3%;
    height: 981px;
    width: 1512px;
    background-image: url('../../../public/images/BannerBackground.png');
    background-repeat: no-repeat;
}
.category{
    width: 1268px;
    height: 693px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .categorycard{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
        // transform: scale(1.1);
        // transition-timing-function: ease-in-out;
        // transition-duration: 
    }
    h1{
        font-size: 56px;
        span{
            color: #1E88E5;
        }
    }

    

    
}
