.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    .btn {
      margin-top: 3%;
      border-radius: 100px;
      width: 242px;
      height: 76px;
      color: white;
      background-color: #1e88e5;
      cursor: pointer;
    }
  }
  
  .Banner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .category {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    .categorycard {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 2rem;
    }
  
    h1 {
      margin: 40px;
      font-size: 56px;
      
      span {
        color: #1e88e5;
      }
    }
  }
  