.categoryCard{
    width: 285px;
    height: 241px;
    cursor:pointer;
    
    img{
        width: 285px;
        height: 241px;
        filter:brightness(0.5);
        border-radius: 20px;
    }
    h3{
        color: white;
        position: relative;
        bottom: 60%;
    }
}
.container:hover{
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
    transform: scale(1.06);
}