.about{
    padding-top: 10%;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;

}
.left{
    width:666px;
    height: 587px;
    

    img{
        width: 100%;
        height: 100%;
    }
}
.right{
    display: flex;
    flex-direction: column;
    width: 516px;
    height: 510px;
    padding-left: 50px;
    
    h1{
        font-size: 56px;
        text-align: left;
        span{
            color:#1E88E5;
        }
    }
    h3{
        font-size: 24px;
        text-align: left;
    }

}