.profile {
    position: absolute;
    left: 10vw;
    top: 10vh;
    height: 80vh;
    width: 80vw;
    display: flex;
    justify-content: center;

    .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: inherit;
        width: 30vw;
        text-align: center;

        img {
            border-radius: 100%;
            width: 15vw;
            height:15vw;
        }

        p {
            font-size: 20px;
            font-weight: bold;
            margin: 20px;
        }
    }

    .right {
        padding: 30px;
        gap: 20px;
        border: 2px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: inherit;
        width: inherit;
        overflow: auto;
        align-items: center;

        h1 {
            margin: 0;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
        }

        button {
            margin: 10px;
            color: white;
            padding: 2px;
            border-radius: 20px;
            background-color: #1E88E5;
            height: 40vh;
            width: 20vw;
        }

        table {
            table-layout: fixed;
            width: 100%;
            border-collapse: collapse;
        }

        td, th {
            word-wrap: break-word; 
            padding: 8px;
            border: 1px solid black;
        }

        td {
            width: 50%; 
        }
    }
}
