.Banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3%;
    height: 981px;
    width: 1512px;
    background-image: url('../../../public/images/BannerBackground.png');
    background-repeat: no-repeat;
}